/* Import Bulma Utilities */
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';


/* Import the rest of Bulma */
@import '~bulma';

.coverImage {
    height:100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}