/* Import Bulma Utilities */
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';


/* Import the rest of Bulma */
@import '~bulma';
@import '~@creativebulma/bulma-divider';
@import '~bulma-timeline';