/* Import Bulma Utilities */
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

$navbar-item-color: whitesmoke;

$modal-content-width: 100%;

/* Import the rest of Bulma */
@import '~bulma';

.app {
    background: rgb(19, 19, 19);
}

.home-title {
    font-family: 'Poiret One', serif;
}

.cover-image {
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* PC */
@media screen and (min-width: 600px) {
    :root {
      --spacing: 1rem;
      --margin: 10rem;
    }
}
  
/* Tablette */
@media screen and (min-width: 480px) and (max-width: 600px) {
    :root {
      --spacing: 2rem;
    }
}
  
/* Mobile */
@media screen and (max-width: 480px) {
    :root {
      --spacing: 1rem;
    }
}